{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'list_schedule.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'weekly_schedule.css' %}">
<!--구글 폰트 적용-->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap" rel="stylesheet">
<style>
    * {
        font-family: 'Titillium Web', sans-serif;
    }
</style>

<div class="container py-7">
  <h1 class="text-uppercase text-letter-spacing-xs my-0 text-primary font-weight-bold">Today</h1>
  <p class="text-sm text-dark mt-0 mb-5">오늘 해야되는거</p>
  <!-- Days -->
  <div class="row">
    <div class="col-lg-4 mb-3" id="Friday, Nov 13th">
      <h5 class="mt-0 mb-3 text-dark op-8 font-weight-bold">
        {{now.month}}월 {{now.day}}일({{date}}) {{now.hour}}:{{now.minute}}
      </h5>
<!--      오늘의 시간표 추가-->
      {% if today_class %}
      <ul class="list-timeline list-timeline-primary">
        {% for data in today_class %}
<!--        첫번째 일정 강조해서 표시-->
        {% if forloop.counter == 1 %}
        <li class="list-timeline-item show p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column" data-toggle="collapse" data-target="#day-1-item-2">
          <p class="my-0 text-dark flex-fw text-sm text-uppercase">
<!--         span class="text-primary" 글자색 파란색으로 강조-->
            <span class="text-primary font-weight-bold op-8 infinite animated flash" data-animate="flash" data-animate-infinite="1"
                  data-animate-duration="3.5" style="animation-duration: 3.5s;">
              {{ data.start_h }}:00 ~ {{ data.end_h }}:00
            </span>
          </p>
          <span class="text-primary">{{ data.subject }} - {{ data.prof }}교수님</span>
        </li>
        {% else %}
        <li class="list-timeline-item p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column">
          <p class="my-0 text-dark flex-fw text-sm text-uppercase">
            <span class="text-inverse font-weight-bold op-8">{{ data.start_h }}:00 ~ {{ data.end_h }}:00</span>
          </p>
          <span class="text-inverse op-8">{{ data.subject }} - {{ data.prof }}교수님</span>
        </li>
        {% endif %}
        {% endfor %}
      {% endif %}
      </ul>
<!--      오늘까지인 과제, 일정 표시-->
<!--      추후에 과제랑 수업 시간 비교해서 정렬하도록 수정. 지금은 과제가 무조건 뒤에 온다-->
      {% if today_data %}
      <ul class="list-timeline list-timeline-primary">
        {% for data in today_data %}
        <li class="list-timeline-item p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column">
          <p class="my-0 text-dark flex-fw text-sm text-uppercase">
            <span class="text-inverse font-weight-bold op-8">
              {{ data.hour }}:{{ data.minute }}까지 제출
            </span>
          </p>
          <span class="text-inverse op-8">{{ data.context_ellipsis }} 과제</span>
        </li>
        {% endfor %}
        {% endif %}
      </ul>
    </div>
  </div>
  <h1 class="text-uppercase text-letter-spacing-xs my-0 text-primary font-weight-bold">Upcoming</h1>
  <p class="text-sm text-dark mt-0 mb-5">앞으로 해야되는거</p>
<!--   과제 DB에서 출력 -->
<!--   추후에 같은 날짜에 있는 과제들은 묶어서 출력하도록 수정할 것-->
<!--   추후에 시간 순서대로 출력되도록 수정할 것-->
  {% if data_list %}
  <div class="row">
    {% for assignment in data_list %}
    <div class="col-lg-4 mb-3" id="Friday, Nov 13th">
      <h4 class="mt-0 mb-3 text-dark op-8 font-weight-bold">
        {{assignment.month}}월 {{assignment.day}}일 {{assignment.date}}요일
      </h4>
      <ul class="list-timeline list-timeline-primary">
        <li class="list-timeline-item p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column">
          <p class="my-0 text-dark flex-fw text-sm text-uppercase">
              <span class="text-inverse font-weight-bold op-8">
              {{ assignment.hour }}:{{ assignment.minute }}까지 제출
              </span>
          </p>
            <span class="text-inverse op-8">{{ assignment.context_ellipsis }} 과제</span>
        </li>
      </ul>
    </div>
    {% endfor %}
  </div>
  {% endif %}
</div>