{% load time_table_extras %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'weekly_schedule.css' %}">
<!--구글 폰트 적용-->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap" rel="stylesheet">
<style>
    * {
        font-family: 'Titillium Web', sans-serif;
    }
</style>
<div class="container">
    <div class="timetable-img text-center">
        <img src="img/content/timetable.png" alt="">
    </div>
    <div class="table-responsive">
        <table class="table table-bordered text-center">
            <thead>
            <tr class="bg-light-gray">
                <th class="text-uppercase">Time
                </th>
                <th class="text-uppercase">월요일</th>
                <th class="text-uppercase">화요일</th>
                <th class="text-uppercase">수요일</th>
                <th class="text-uppercase">목요일</th>
                <th class="text-uppercase">금요일</th>
            </tr>
            </thead>
            <tbody>
<!--            시간 반복-->
            {% for sametime in time_table %}
            <tr>
                <td class="align-middle">{{ sametime|key }}:00</td>
<!--                요일 반복-->
                {% for key, data in sametime.items %}
                {% for query_set in data %}
                {% if query_set != 'empty' %}
                {% for subject in query_set %}
                <td>
<!--                    시간표 과목별 색깔 설정 - 과목에 따라서 span class 변경-->
<!--                    사용자 정의 템플릿 필터 써야 되려나-->
                    <span class="bg-yellow padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16 xs-font-size13">{{subject.subject}}</span>
                    <div class="margin-10px-top font-size14">{{ sametime|key }}:00 </div>
                    <div class="font-size13 text-light-gray">{{subject.prof}}</div>
                </td>
                {% endfor %}
                {% else %}
                <td class="bg-light-gray">
                </td>
                {% endif %}
                {% endfor %}
                {% endfor %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>