<!--사용자 정의 filter 불러오기-->
{% load time_table_extras %}
{% load static %}
<!--list_schedule css파일 불러오기-->
<link rel="stylesheet" type="text/css" href="{% static 'list_schedule.css' %}">
<!--weekly_schedule css파일 불러오기-->
<link rel="stylesheet" type="text/css" href="{% static 'weekly_schedule.css' %}">

<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="{% static 'img/apple-icon.png' %}">
  <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Team Aha!
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
  <!-- CSS Files -->
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
  <link href="{% static 'css/paper-dashboard.css' %}" rel="stylesheet" />
</head>

<body class="">
  <div class="wrapper ">
    <div class="main-panel" style="height: 100vh;">
        <div class="col-md-12">
              <h3 class="mt-0 mb-3 text-dark op-8 font-weight-bold">
                  출력하지 않을 강의 선택.
              </h3>
        </div>
        {% if class %}
        <form method="post" action="{% url 'time_table:choose_timetable' %}">
            {% csrf_token %}
            <div style="overflow:auto; height: 65vh;">
              <table class="table table-striped">
                  <thead>
                  <tr>
                      <th>과목</th><th>교수님</th><th>수업시간</th>
                  </tr>
                  </thead>
                  <tbody>
                  {% for data in class %}
                  <tr>
                      <td><label><input type="checkbox" name="delete_data" value={{data.id}}>{{ data.context }}</label></td>
                      <td>{{ data.name }}</td>
                      <td>{{ data.content }}요일 {{ data.start_h }}:00 ~ {{ data.end_h }}:00</td>
                  </tr>
                  {% endfor %}
                  </tbody>
              </table>
            </div>
            <button type="submit" class="button choosing-timetable">선택완료</button>
        </form>
        {% endif %}
        <footer class="footer" style="position: absolute; bottom: 0; width: -webkit-fill-available;">
            <div class="container-fluid">
                <div class="row">
                    <nav class="footer-nav">
                        <ul>
                            <li><a href="https://cieat.chungbuk.ac.kr/clientMain/a/t/main.do" target="_blank">CIEAT</a></li>
                            <li><a href="https://cbnu.blackboard.com/" target="_blank">Blackboard</a></li>
                            <li><a href="https://github.com/sarah2234/Open-Source-Project-03" target="_blank">GitHub</a></li>
                        </ul>
                    </nav>
                    <div class="credits ml-auto">
                        <span class="copyright">
                            Made by AHA!
                        </span>
                    </div>
                </div>
            </div>
        </footer>
    </div>
  </div>
</body>

</html>
