{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up </title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="{% static 'fonts/material-icon/css/material-design-iconic-font.min.css' %}">

    <!-- Main css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <div class="main">

        <!-- Sign up form -->
        <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                        <h2 class="form-title">Sign up</h2>
                        <form method="POST" action="" class="register-form" id="register-form">
                            {% csrf_token %}
                            {% include "form_errors.html" %}
                            
                            <div class="form-group">
                                <label for="username"><i class="zmdi zmdi-account-circle material-icons-name"></i></label>
                                <input type="text" class="form-control" name="username" id="username"
                                       value="{{ form.username.value|default_if_none:'' }}" placeholder="Username">
                            </div>
                            <div class="form-group">
                                <label for="first_name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="text" class="form-control" name="first_name" id="first_name"
                                       value="{{ form.first_name.value|default_if_none:'' }}" placeholder="Your first name">
                            </div>
                            <div class="form-group">
                                <label for="last_name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="text" class="form-control" name="last_name" id="last_name"
                                       value="{{ form.last_name.value|default_if_none:'' }}" placeholder="Your last name">
                            </div>
                            <div class="form-group">
                                <label for="email"><i class="zmdi zmdi-email"></i></label>
                                <input type="text" class="form-control" name="email" id="email"
                                       value="{{ form.email.value|default_if_none:'' }}" placeholder="Your email">
                            </div>
                            <div class="form-group">
                                <label for="student_ID"><i class="zmdi zmdi-graduation-cap"></i></label>
                                <input type="text" class="form-control" name="student_ID" id="student_ID"
                                       value="{{ form.student_ID.value|default_if_none:'' }}" placeholder="student_ID">
                            </div>
                            <div class="form-group">
                                <label for="CBNU_PW"><i class="zmdi zmdi-graduation-cap"></i></label>
                                <input type="password" class="form-control" name="CBNU_PW" id="CBNU_PW"
                                       value="{{ form.CBNU_PW.value|default_if_none:'' }}" placeholder="CBNU_PW">
                            </div>
                            <div class="form-group">
                                <label for="password1"><i class="zmdi zmdi-lock"></i></label>
                                <input type="password" class="form-control" name="password1" id="password1"
                                       value="{{ form.password1.value|default_if_none:'' }}" placeholder="비밀번호 입력">
                            </div>
                            <div class="form-group">
                                <label for="password2"><i class="zmdi zmdi-lock-outline"></i></label>
                                <input type="password" class="form-control" name="password2" id="password2"
                                       value="{{ form.password2.value|default_if_none:'' }}" placeholder="비밀번호 확인">
                            </div>
                            <div class="form-group">
                                <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
                                <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all statements in  <a href="#" class="term-service">Terms of service</a></label>
                            </div>  
                            <div class="form-group form-button">
                                <input type="submit" name="signup" id="signup" class="form-submit" value="Register"/>
                            </div>
                            </form>                                               
                    </div>
                    <div class="signup-image">
                        <figure><img src="{% static 'img/signup-image.jpg' %}" alt="sing up image"></figure>
                        <a href="{% url 'login' %}" class="signup-image-link">I am already member</a>
                    </div>
                </div>
            </div>
        </section>

    </div>

    <!-- JS -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>