<!--사용자 정의 filter 불러오기-->
{% load time_table_extras %}
{% load static %}

<!doctype html>
<html lang="en">

<link rel="stylesheet" type="text/css" href="{% static 'weekly_schedule.css' %}">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="{% static 'img/apple-icon.png' %}">
  <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Team Aha!
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
  <!-- CSS Files -->
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
  <link href="{% static 'css/paper-dashboard.css' %}" rel="stylesheet" />
</head>

<body class="">
  <div class="wrapper ">
    <div class="sidebar" data-color="white" data-active-color="danger">
      <div class="logo">
        <a href="https://www.creative-tim.com" class="simple-text logo-mini">
          <!-- <div class="logo-image-small">
            <img src="./assets/img/logo-small.png">
          </div> -->
          <!-- <p>CT</p> -->
        </a>
        <a href="https://cbnu.blackboard.com/ultra/institution-page" class="simple-text logo-normal">
          BLACK BOARD
          <!-- <div class="logo-image-big">
            <img src="../assets/img/logo-big.png">
          </div> -->
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li>
            <a href="{% url 'time_table:schedule' %}">
              <img src= "/static/icon/schedule.png" class="nav-icon" alt="SCHEDULE">
              <p class="icon-detail">시간표</p>
            </a>
          </li>
          <li>
            <a href="{% url 'time_table:cieat_interest' %}">
              <img src="/static/icon/sprout.png" class="nav-icon" alt="CIEAT">
              <p class="icon-detail">씨앗</p>
            </a>
          </li>
          <li class="active ">
            <a href="{% url 'time_table:setting' %}">
              <img src="/static/icon/setting.png" class="nav-icon" alt="SETTING">
              <p class="icon-detail">환경설정</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="main-panel" style="height: 100vh;">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <div class="navbar-toggle">
              <button type="button" class="navbar-toggler">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </button>
            </div>
            <img src="/static/icon/book.png" id="logo" alt="LOGO">
              <a class="navbar title" href="javascript:;">대학생 학습 도우미</a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navigation"> <!--기존에 있었던 검색 기능+알람 기능 삭제-->
            <form method="post" action="{% url 'logout' %}">
              {% csrf_token %}
              <button type="submit" id="logout">로그아웃</button>
            </form>
          </div>
        </div>
      </nav>
      <!-- End Navbar -->
      <div class="content">
          <div class="row">
              <div class="col-md-12">
<!--              시간표 읽어오기-->
                  <h3 class="mt-0 mb-3 text-dark op-8 font-weight-bold">
                      씨앗 로그인 - 시간표 불러오기
                  </h3>
                  <div>
                      <form method="post" action="{% url 'time_table:load_timetable' %}">
                          {% csrf_token %}
                          <button type="submit">시간표 읽어오기</button>
                      </form>
                  </div>
              </div>
          </div>
      </div>
        <footer class="footer" style="position: absolute; bottom: 0; width: -webkit-fill-available;">
            <div class="container-fluid">
                <div class="row">
                    <nav class="footer-nav">
                        <ul>
                          <li><a href="https://cieat.chungbuk.ac.kr/clientMain/a/t/main.do" target="_blank">CIEAT</a></li>
                          <li><a href="https://cbnu.blackboard.com/" target="_blank">Blackboard</a></li>
                          <li><a href="https://github.com/sarah2234/Open-Source-Project-03" target="_blank">GitHub</a></li>
                        </ul>
                    </nav>
                    <div class="credits ml-auto">
                        <span class="copyright">
                          Made by AHA!
                        </span>
                    </div>
                </div>
            </div>
        </footer>
    </div>
  </div>
  <!--   Core JS Files   -->
  <script src="{% static 'js/core/jquery.min.js' %}"></script>
  <script src="{% static 'js/core/popper.min.js' %}"></script>
  <script src="{% static 'js/core/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/plugins/perfect-scrollbar.jquery.min.js' %}"></script>
  <!--  Google Maps Plugin    -->
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE' %}"></script>
  <!-- Chart JS -->
  <script src="{% static 'js/plugins/chartjs.min.js' %}"></script>
  <!--  Notifications Plugin    -->
  <script src="{% static 'js/plugins/bootstrap-notify.js' %}"></script>
  <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="{% static 'js/paper-dashboard.min.js?v=2.0.1' %}" type="text/javascript"></script>
</body>

</html>
