<!--사용자 정의 filter 불러오기-->
{% load time_table_extras %}
{% load static %}
<!--list_schedule css파일 불러오기-->
<link rel="stylesheet" type="text/css" href="{% static 'list_schedule.css' %}">
<!--weekly_schedule css파일 불러오기-->
<link rel="stylesheet" type="text/css" href="{% static 'weekly_schedule.css' %}">

<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="{% static 'img/apple-icon.png' %}">
  <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Team Aha! 
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
  <!-- CSS Files -->
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
  <link href="{% static 'css/paper-dashboard.css' %}" rel="stylesheet" />
<!--    반으로 나눠서 왼쪽에 weekly_schedule, 오른쪽에 list_schedule 표시-->
  <style>
    div.left {
        width: 65%;
        float: left;
        box-sizing: border-box;
    }
    div.right {
        width: 30%;
        float: right;
        box-sizing: border-box;
    }
    img{float: left;}
    img{margin: 10px;}
    </style>
</head>

<body class="">
  <div class="wrapper ">
    <div class="sidebar" data-color="white" data-active-color="danger">
      <div class="logo">
        <a href="https://www.creative-tim.com" class="simple-text logo-mini">
          <!-- <div class="logo-image-small">
            <img src="./assets/img/logo-small.png">
          </div> -->
          <!-- <p>CT</p> -->
        </a>
        <a href="https://cbnu.blackboard.com/ultra/institution-page" class="simple-text logo-normal">
          BLACK BOARD
          <!-- <div class="logo-image-big">
            <img src="../assets/img/logo-big.png">
          </div> -->
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="active ">
            <a href="{% url 'time_table:schedule' %}">
              <img src= "/static/icon/schedule.png" class="nav-icon" alt="SCHEDULE">
              <p>시간표</p>
            </a>
          </li>
          <li>
            <a href="{% url 'time_table:cieat_interest' %}">
              <img src="/static/icon/sprout.png" class="nav-icon" alt="CIEAT">
              <p>씨앗</p>
            </a>
          </li>
          <li>
            <a href="{% url 'time_table:setting' %}">
              <img src="/static/icon/setting.png" class="nav-icon" alt="SETTING">
              <p>환경설정</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="main-panel" style="height: 100vh;">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <div class="navbar-toggle">
              <button type="button" class="navbar-toggler">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </button>
            </div>
            <div>
              <img src="/static/icon/book.png" id="logo" alt="LOGO">
              <a class="navbar title" href="javascript:;">
                <h5 class="planner">대학생 학습 도우미</h5>
              </a>
            </div>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navigation"> <!--기존에 있었던 검색 기능+알람 기능 삭제-->
            <form method="post" action="{% url 'logout' %}">
              {% csrf_token %}
              <button type="submit" id="logout">로그아웃</button>
            </form>
          </div>
        </div>
      </nav>
      <!-- End Navbar -->
      <div class="content">
<!--    week_schedule 시작-------------------------------------------------------------------->
        <div class="left">
          <div class="row">
            <div class="container">
              <div class="timetable-img text-center">
                  <img src="img/content/timetable.png" alt="">
              </div>
              <div class="table-responsive"  style="overflow:auto; height: 85vh;">
                  <table class="table table-bordered text-center">
                      <thead>
                      <tr class="bg-light-gray">
                          <th class="week">Time
                          </th>
                          <th class="week mon">월요일</th>
                          <th class="week tue">화요일</th>
                          <th class="week web">수요일</th>
                          <th class="week thur">목요일</th>
                          <th class="week fri">금요일</th>
                          <th class="week sat">토요일</th>
                      </tr>
                      </thead>
                      <tbody>
          <!--            시간 반복-->
                      {% for sametime in time_table %}
                      <tr>
                          <td class="align-middle">{{ sametime|key }}:00</td>
          <!--                요일 반복-->
                          {% for key, data in sametime.items %}
                          {% for query_set in data %}
                          {% if query_set != 'empty' %}
                          {% for subject in query_set %}
                          <td>
          <!--                    시간표 과목별 색깔 설정 - 과목에 따라서 span class 변경-->
          <!--                    사용자 정의 템플릿 필터 써야 되려나-->
                              <span class="bg-yellow padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16 xs-font-size13">{{subject.context}}</span>
                              <div class="margin-10px-top font-size14">{{ sametime|key }}:00 </div>
                              <div class="font-size13 text-light-gray">{{subject.name}}</div>
                          </td>
                          {% endfor %}
                          {% else %}
                          <td class="bg-light-gray">
                          </td>
                          {% endif %}
                          {% endfor %}
                          {% endfor %}
                      </tr>
                      {% endfor %}
                      </tbody>
                  </table>
              </div>
          </div>
          </div>
        </div>
<!--    week_schedule 끝---------------------------------------------------------------------->
<!--    list_schedule 시작--------------------------------------------------------------------->
        <div class="right">
          <div class="row">
              <div class="col-md-12">
<!--              과제 읽어오기-->
                  <div>
                      <form method="post" action="{% url 'time_table:crawling' %}">
                          {% csrf_token %}
                          <button type="submit" id="get-course">과제 읽어오기</button>
                      </form>
<!--              일정 추가하는 버튼-->
                      <form method="post" action="{% url 'time_table:add_schedule' %}">
                          {% csrf_token %}
                          <button type="submit" id="add-schedule">일정 추가</button>
                      </form>
                  </div>
              </div>
              <div class="col-md-12">
                  <div class="container py-7" style="overflow:auto; height: 80vh;">
                      <h1 class="text-uppercase text-letter-spacing-xs my-0 text-primary font-weight-bold">Today</h1>
<!--                  <p class="text-sm text-dark mt-0">오늘 해야되는거</p>-->
                      <div>
                          <div class="mb-3" id="Friday, Nov 13th">
                              <h3 class="mt-0 mb-3 text-dark op-8 font-weight-bold">
                                  {{now.month}}월 {{now.day}}일({{date}}) {{now.hour}}:{{now.minute}}
                              </h3>
<!--                          오늘 시간표, 개인일정 표시-->
                              <ul class="list-timeline list-timeline-primary">
                                  {% if today_list %}
                                  {% for data in today_list %}
<!--                              첫번째 일정 강조해서 표시-->
                                  {% if forloop.counter == 1 %}
<!--                                  data sort(시간표, 개인일정, 과제)에 맞는 형식으로 출력-->
                                      {% if data.sort == '시간표' %}
                                          <li class="list-timeline-item show p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column" data-toggle="collapse" data-target="#day-1-item-2">
                                              <p class="my-0 text-dark flex-fw text-sm text-uppercase">
        <!--                                      span class="text-primary" 글자색 파란색으로 강조-->
                                                  <span class="text-primary font-weight-bold op-8 infinite animated flash" data-animate="flash" data-animate-infinite="1"
                                                        data-animate-duration="3.5" style="animation-duration: 3.5s;">
                                                      {{ data.start_h }}:00 ~ {{ data.end_h }}:00
                                                  </span>
                                              </p>
                                              <span class="text-primary">{{ data.context }} - {{ data.name }}교수님</span>
                                          </li>
                                      {% elif data.sort == '개인일정' %}
                                      <a href="{% url 'time_table:edit_schedule' data.id %}">
                                          <li class="list-timeline-item show p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column" data-toggle="collapse" data-target="#day-1-item-2">
                                              <p class="my-0 text-dark flex-fw text-sm text-uppercase">
    <!--                                           span class="text-primary" 글자색 파란색으로 강조-->
                                                  <span class="text-primary font-weight-bold op-8 infinite animated flash" data-animate="flash" data-animate-infinite="1"
                                                        data-animate-duration="3.5" style="animation-duration: 3.5s;">
                                                      {{ data.start_h }}:00 ~ {{ data.end_h }}:00
                                                  </span>
                                              </p>
                                              <span class="text-dark text-inverse op-8">{{ data.name }}</span>
                                              <span class="text-inverse op-8">: {{ data.context }}</span>
                                          </li>
                                      </a>
                                      {% endif %}
                                  {% else %}
                                      {% if data.sort == '시간표' %}
                                      <li class="list-timeline-item p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column">
                                          <p class="my-0 text-dark flex-fw text-sm text-uppercase">
                                              <span class="text-inverse font-weight-bold op-8">{{ data.start_h }}:00 ~ {{ data.end_h }}:00</span>
                                          </p>
                                          <span class="text-inverse op-8">{{ data.context }} - {{ data.name }}교수님</span>
                                      </li>
                                      {% elif data.sort == '개인일정' %}
                                      <a href="{% url 'time_table:edit_schedule' data.id %}">
                                          <li class="list-timeline-item p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column">
                                              <p class="my-0 text-dark flex-fw text-sm text-uppercase">
                                                  <span class="text-inverse font-weight-bold op-8">
                                                      {{ data.start_h }}:00 ~ {{ data.end_h }}:00
                                                  </span>
                                              </p>
                                              <span class="text-dark text-inverse op-8">{{ data.name }}</span>
                                              <span class="text-inverse op-8">: {{ data.context }}</span>
                                          </li>
                                      </a>
                                      {% endif %}
                                  {% endif %}
                                  {% endfor %}
                                  {% else %}
                                  <li class="list-timeline-item p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column">
                                      <p class="my-0 text-dark flex-fw text-sm text-uppercase">
                                          <span class="text-inverse op-8">오늘 해야할 일 없음</span>
                                      </p>
                                  </li>
                                  {% endif %}
                              </ul>
                          </div>
                      </div>
                      <h1 class="text-uppercase text-letter-spacing-xs my-0 text-primary font-weight-bold">Upcoming</h1>
<!--                <p class="text-sm text-dark mt-0">앞으로 해야되는거</p>-->
<!--                앞으로의 과제, 개인일정 표시 / 마감기한이 오늘까지인 과제들은 파란색으로 강조해서 보여주기 -->
                      {% if data_list %}
                      <div>
                          <div class="mb-3" id="Friday, Nov 13th">
                              {% for data in data_list %}
                              {% if data.time < today_e %}
                                  {% if data.sort == '과제' %}
                                  {% if data.valid == 1 %}
                                  <li class="list-timeline-item show p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column" data-toggle="collapse" data-target="#day-1-item-2">
                                      <a href="{% url 'time_table:assignment_schedule' data.id %}">
                                          <p class="my-0 text-dark flex-fw text-sm text-uppercase">
        <!--                                      span class="text-primary" 글자색 파란색으로 강조-->
                                              <span class="text-primary font-weight-bold op-8 infinite animated flash" data-animate="flash" data-animate-infinite="1"
                                                    data-animate-duration="3.5" style="animation-duration: 3.5s;">
                                                  {{ data.time }}
                                              </span>
                                          </p>
                                          <span class="text-primary">{{ data.name }</span>
                                          <span class="text-primary">{{ data.context }}</span>
                                      </a>
                                      <form method="post" action="{% url 'time_table:delete_assignment' data.id %}">
                                          {% csrf_token %}
                                          <button type="submit">과제 끝!</button>
                                      </form>
                                  </li>
                                  {% endif %}
                                  {% endif %}
                              {% else %}
                                  {% if data.sort == '과제' %}
                                  {% if data.valid == 1 %}
                                  <li class="list-timeline-item p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column">
                                      <a href="{% url 'time_table:assignment_schedule' data.id %}">
                                          <p class="my-0 text-dark flex-fw text-sm text-uppercase">
                                              <span class="text-inverse font-weight-bold op-8">
                                                  {{ data.time }}
                                              </span>
                                          </p>
                                          <span class="text-dark text-inverse op-8">{{ data.name }}</span>
                                          <span class="text-inverse op-8">: {{ data.context }}</span>
                                      </a>
                                      <form method="post" action="{% url 'time_table:delete_assignment' data.id %}">
                                          {% csrf_token %}
                                          <button type="submit">과제 끝!</button>
                                      </form>
                                  </li>
                                  {% endif %}
                                  {% elif data.sort == '개인일정' %}
                                  <a href="{% url 'time_table:edit_schedule' data.id %}">
                                      <li class="list-timeline-item p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column">
                                          <p class="my-0 text-dark flex-fw text-sm text-uppercase">
                                              <span class="text-inverse font-weight-bold op-8">
                                                  {{ data.time }}
                                              </span>
                                          </p>
                                          <span class="text-dark text-inverse op-8">{{ data.name }}</span>
                                          <span class="text-inverse op-8">: {{ data.context }}</span>
                                      </li>
                                  </a>
                                  {% endif %}
                              {% endif %}
                              {% endfor %}
                          </div>
                      </div>
                      {% endif %}
                  </div>
              </div>
          </div>
        </div>
<!--        list_schedule 끝---------------------------------------------------------------------------------->
      </div>
        <footer class="footer" style="position: absolute; bottom: 0; width: -webkit-fill-available;">
            <div class="container-fluid">
                <div class="row">
                    <nav class="footer-nav">
                        <ul>
                            <li><a href="https://cieat.chungbuk.ac.kr/clientMain/a/t/main.do" target="_blank">CIEAT</a></li>
                            <li><a href="https://cbnu.blackboard.com/" target="_blank">Blackboard</a></li>
                            <li><a href="https://github.com/sarah2234/Open-Source-Project-03" target="_blank">GitHub</a></li>
                        </ul>
                    </nav>
                    <div class="credits ml-auto">
                        <span class="copyright">
                            Made by AHA!
                        </span>
                    </div>
                </div>
            </div>
        </footer>
    </div>
  </div>
  <!--   Core JS Files   -->
  <script src="{% static 'js/core/jquery.min.js' %}"></script>
  <script src="{% static 'js/core/popper.min.js' %}"></script>
  <script src="{% static 'js/core/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/plugins/perfect-scrollbar.jquery.min.js' %}"></script>
  <!--  Google Maps Plugin    -->
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE' %}"></script>
  <!-- Chart JS -->
  <script src="{% static 'js/plugins/chartjs.min.js' %}"></script>
  <!--  Notifications Plugin    -->
  <script src="{% static 'js/plugins/bootstrap-notify.js' %}"></script>
  <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="{% static 'js/paper-dashboard.min.js?v=2.0.1' %}" type="text/javascript"></script>
</body>

</html>
